/* 最底部資訊樣式 */
#bottomList {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
}

#flex1 ul p {
    /* line-height: 0.1px; */
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
}
#flex1 ul li{
    color: white;
    font-size: 16px;
}
#flex1 ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}