  /* 模糊背景 */
  .myModalcart {
      display: none;
      /* 隱藏模態窗口 */
      position: fixed;
      /* 固定在視窗上 */
      z-index: 6;
      /* 保持在前面 */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      /* 半透明背景 */
  }

  /* 視窗內容 */
  .modalcart-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: white;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
      width: 90%;
      height: 90%;
      max-width: 500px;
      text-align: center;
      box-sizing: border-box;
      overflow: auto;
  }

  /* 關閉按鈕 */
  .closecart {
      position: sticky;
      top: 15px;
      right: 0;
      color: #aaa;
      float: right;
      font-size: 28px;
      /* font-weight: bold; */
      cursor: pointer;
  }

  .closecart:hover,
  .closecart:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }

  /* 彈出按鈕 */
  .openYiancart-btn {
      width: 30px;
      height: 30px;
      background-color: transparent;
      background-image: url(../img/logo/cart.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
  }


  .modalcart-content h2 {
      text-align: center;
      margin-bottom: 20px;
  }

  /* .YiancartItems p {
      display: inline-block;
      text-align: left;
  }

  .YiancartItems img {
      display: inline-block;
  } */

  .clearCart,
  .removeItem,
  .toPay {
      border: none;
      font-size: 18px;
      border-radius: 3px;
      margin: 8px;
      padding: 5px;
      color: white;

  }

  .clearCart {
      background-color: rgb(112, 166, 216);
  }

  .removeItem {
      background-color: lightcoral;
  }

  .toPay {
      background-color: lightseagreen;
  }